---
import { getTranslations } from "@i18n/utils";
import Facebook from "@components/Facebook.astro";
import Instagram from "@components/Instagram.astro";
import Youtube from "@components/Youtube.astro";

interface Props {
  lang: "es" | "en"
}
const {lang} = Astro.props;
const t = getTranslations(lang)
---

<section class="bg-primary px-18 py-8 flex justify-start">
  <h2 class="text-3xl sm:text-4xl md:text-5xl text-left text-black uppercase leading-tight md:leading-16 max-w-72">{t.navbar.contact}</h2>
</section>

<section class="flex flex-col md:flex-row gap-8 px-6 py-10 md:p-18">
  <div class="flex flex-col gap-6 md:gap-12 flex-1">
    <p>{t.contact.paragraph_1}</p>
    <div class="flex flex-col md:flex-row gap-4">
      <div class="flex flex-col">
        <p class="text-sm font-light">C/ Primavera 19</p>
        <p class="text-sm font-light">28850 Torrejón de Ardoz,</p>
        <p class="text-sm font-light">Madrid, España.</p>
      </div>
      <div class="flex flex-col">
        <p class="text-sm font-light">+34 91 886 75 39</p>
        <p class="text-sm font-light">638 01 62 67</p>
        <p class="text-sm font-light">info@vacuumelevators.eu</p>
      </div>
    </div>
    <div class="flex flex-row gap-3 mt-6 md:mt-8">
          <a href="#" aria-label="YouTube" class="text-primary hover:text-primary/70 transition-colors">
            <Youtube />
          </a>
          <a href="#" aria-label="Instagram" class="text-primary hover:text-primary/70 transition-colors">
            <Instagram />
          </a>
          <a href="#" aria-label="Facebook" class="text-primary hover:text-primary/70 transition-colors">
            <Facebook />
          </a>
        </div>
  </div>
  <form action="" class="flex flex-col justify-between flex-2 min-h-full gap-6 md:gap-8">
    <div class="flex flex-col gap-4">
      <input class="input-light" type="text" placeholder={`${t.form.name} *`}>
      <input class="input-light" type="text" placeholder={`${t.form.email} *`}>
      <input class="input-light" type="text" placeholder={`${t.form.message} *`}>
      <label class="flex items-center gap-2 text-sm text-black">
          <input type="checkbox" name="legal_notice" class="checkbox-input-light" />
          <span class="text-base font-light">{t.form.read_accept} <span class="underline">{t.form.legal_notice}</span> {t.form.and} <span class="underline">{t.form.privacy_policy}</span></span>
        </label>
    </div>
    
    <button type="submit" class="btn-submit w-full md:w-fit">{t.form.submit}</button>
  </form>
</section>

<iframe
  class="w-full h-64 md:h-96 px-18 pb-4"
  style="border:0"
  loading="lazy"
  allowfullscreen
  referrerpolicy="no-referrer-when-downgrade"
  src="https://www.google.com/maps?q=40.4589,-3.4787&z=15&output=embed">
</iframe>